{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="content-container">
    <h2>Your Generated Cover Letter</h2>

    <div class="form-container">
        <form action="{% url 'download_cover_letter' %}" method="post" class="cover-letter-form">
            {% csrf_token %}
            
            <textarea name="cover_letter_text" id="coverLetterTextArea">
                {{ cover_letter }}
            </textarea>
            
            <div class="download-section">
                <input type="text" name="cover_letter_filename" value="Cover_Letter" class="filename-input"/>
                <button type="submit" class="btn-download">Download as PDF</button>
            </div>
        </form>
    </div>
</div>

{% block extra_js %}
{% endblock %}

{% endblock %}
