{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="loading-container">
    <h2>We're on it!</h2>
    <p>We are currently scraping job listings tailored for you. This might take a few minutes, so please be patient.</p>
    
    <div class="loader">
        <!-- Using an SVG spinner as the loader animation -->
        <img src="{% static 'img/mater.gif' %}" alt="Loading...">
    </div>

    <p class="note">Note: Do not refresh or leave this page until the process is complete.</p>
</div>

{% block extra_js %}
<script>
    function checkTaskStatus() {
        console.log('Checking task status...');
        fetch('/task_status/{{ task_id }}/')
        .then(response => response.json())
        .then(data => {
            console.log('Task status:', data.status);
            if (data.status === "SUCCESS" || data.status === "FAILURE") {
                // If the task is done, redirect to the results page
                window.location.href = '/job-results/{{ task_id }}/';
            } else {
                // If the task is still running, check again after a few seconds
                setTimeout(checkTaskStatus, 5000);
            }
        });
    }

    // Start checking the task status immediately once the page is loaded
    checkTaskStatus();
</script>
{% endblock %}

{% endblock %}
