{% extends 'base.html' %}
{% load custom_filters %}
{% load static %}

{% block content %}
<div class="content-container">

    <div class="section">
        <ul class="list">
            {% for resume in resumes %}
                <li>
                    <a href="{{ resume.resume_file.url }}" class="item-link">Your Resume</a>
                </li>
            {% endfor %}
        </ul>
    </div>

    <div class="section">
        <h2>Your Generated Cover Letters:</h2>
        <ul class="list">
            {% for letter in cover_letters %}
                <li>
                    <div class="letter-container">
                        {{ letter.pdf_file.name|filename }} - {{ letter.created_at }} 
                        <div class="action-button">
                            <a href="{% url 'download_cover_letter_by_id' letter.id %}" class="item-link">Download</a> | 
                            <a href="{% url 'edit_cover_letter' letter.id %}" class="item-link">Edit</a> |
                            <a href="{% url 'delete_cover_letter' letter.id %}" class="item-link">Delete</a>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>

    <div class="section">
        <button id="deleteAccountBtn" class="btn-delete">Delete Account</button>
    </div>

</div>

<!-- Modal for Account Deletion Confirmation -->
<div id="deleteAccountModal" class="modal">
    <p>Are you sure you want to delete your account?</p>
    <button id="confirmDeleteBtn" class="btn-confirm">Yes</button>
    <button id="cancelDeleteBtn" class="btn-cancel">No</button>
</div>

{% block extra_js %}
    <script src="{% static 'js/profile.js' %}"></script>
{% endblock %}

{% endblock %}
