{% extends 'base.html' %}

{% block content %}
<h2>Your Uploaded Resumes:</h2>
<ul>
    {% for resume in resumes %}
        <li>
            <a href="{{ resume.resume_file.url }}">{{ resume.resume_file.name }}</a>
            <!-- Link to download or view the resume -->
        </li>
    {% endfor %}
</ul>

<h2>Your Generated Cover Letters:</h2>
<ul>
    {% for letter in cover_letters %}
        <li>
            Cover Letter - {{ letter.created_at }} 
            <a href="{% url 'download_cover_letter_by_id' letter.id %}">Download</a> | 
            <a href="{% url 'delete_cover_letter' letter.id %}">Delete</a>
        </li>
    {% endfor %}
</ul>

{% endblock %}
